@media screen and (max-width: 500px) {
    body{
        font-size: 1.2em;
    }
    .divEl{
        display: flex;
        visibility: visible;
        border-style: solid;
        border-color: gray;
    }
}
@media print {
    .myLinks{
        display: none;
    }
}

body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    max-width: 300px;
}
.divEl{
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: rgb(51, 65, 133);
}
.gibzRef{
    background-color: violet;
}
a{
    color: brown;
    text-decoration: none;
}
a:hover{
    background-color: gray;
}
